
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
:root{
  --brand-from: #ff6a00;
  --brand-to: #ff1e56;
}
.bg-blaze { background: linear-gradient(90deg,var(--brand-from),var(--brand-to)); }

body {
  background: #0f0f0f;
}

.bg-texture {
  background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}